<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- Типы образов PS1: даёт «Открыть в ps1» в Files, Safari и share sheet -->
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>PS1 Disc Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.01lab.ps1.chd</string>
				<string>com.01lab.ps1.cue</string>
				<string>com.01lab.ps1.bin</string>
				<string>com.01lab.ps1.pbp</string>
				<string>com.01lab.ps1.img</string>
				<string>public.iso-image</string>
			</array>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.01lab.ps1.chd</string>
			<key>UTTypeDescription</key>
			<string>Compressed Hunks of Data disc image</string>
			<key>UTTypeConformsTo</key>
			<array><string>public.data</string></array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array><string>chd</string></array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.01lab.ps1.cue</string>
			<key>UTTypeDescription</key>
			<string>CD cue sheet</string>
			<key>UTTypeConformsTo</key>
			<array><string>public.data</string></array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array><string>cue</string></array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.01lab.ps1.bin</string>
			<key>UTTypeDescription</key>
			<string>Raw CD disc image</string>
			<key>UTTypeConformsTo</key>
			<array><string>public.data</string></array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array><string>bin</string></array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.01lab.ps1.pbp</string>
			<key>UTTypeDescription</key>
			<string>PlayStation PBP image</string>
			<key>UTTypeConformsTo</key>
			<array><string>public.data</string></array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array><string>pbp</string></array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.01lab.ps1.img</string>
			<key>UTTypeDescription</key>
			<string>Raw disc image</string>
			<key>UTTypeConformsTo</key>
			<array><string>public.data</string></array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array><string>img</string></array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
